html {
background-color: #8BC3F6 !important;
}

.btn-floating{
    background-color: #2981b3 !important;
}
.btn{
    background-color: #2981b3 !important;
}
header{
    display:flex !important;
    height:10% !important;
    background-color:white !important;
}
h4{
    font-family: 'Montserrat';
    font-weight: bold;
    color:#2981b3;
  }